# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IDEs
.idea/
*.iml
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local runtime dirs
/input/
/output/

# Env files
.env